.app__card {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 256px;
    height: 256px;

    background-color: rgb(255, 255, 255);
    box-shadow: 0;
    
    margin: 20px;

    position: relative;

    transition: 0.4s ease-in-out all;

    img {
        height: 225px;
        width: 225px;

        object-fit: cover;
    }

    .app__card-inactiveHeart {
        display: none;
        align-items: center;
        justify-content: center;

        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: white;

        position: absolute;
        top: 74%;
        left: 74%;
    }

    .app__card-activeHeart {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: white;

        position: absolute;
        top: 74%;
        left: 74%;
    
    }
}

.app__card:hover {
    box-shadow: 0 9px 18px 0 rgba(0, 0, 0, 0.18);
    transform: scale(1.1);

    .app__card-inactiveHeart {
        display: flex;
    }
}